<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1415589153-m3tkgd1fhgaukfhv716k9m7j58rdgsci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1415589153-m3tkgd1fhgaukfhv716k9m7j58rdgsci</string>
	<key>API_KEY</key>
	<string>AIzaSyDrBX7zatcSk0XdUE3q6W0CE7vW-GNMP3M</string>
	<key>GCM_SENDER_ID</key>
	<string>1415589153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brycelynch.bitspace</string>
	<key>PROJECT_ID</key>
	<string>bitspace-5cc26</string>
	<key>STORAGE_BUCKET</key>
	<string>bitspace-5cc26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1415589153:ios:a742e2e17136fade14a260</string>
</dict>
</plist>